
#bd-input:invalid {
    background: rgba(139, 0, 0, 0.685)
}

#bd-input {
    width: auto;
}

#name-input.invalid {
    background: rgba(139, 0, 0, 0.685)
}

#email-input.invalid {
    background: rgba(139, 0, 0, 0.685)
}